 .featurette-image {
  margin-top: 120px; /* Vertically center image with the text */
}

.blue {
    color: #2067b2;
}

.sponsor-max-logo {
    max-width: 200px;
}

.sponsor {
    text-align: center;
}